<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-3">
      <!-- Buscar component-->
      <app-buscar></app-buscar>
    </div>
    <!--/.col-->
    <div class="col-sm-9">
      <app-listado-usuarios (deleteUser)="deleteUser($event)" [usuarios]="usuarios" ></app-listado-usuarios>
      <!--Listado de usuarios component-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-nuevo-usuario (addUser)="saveOperation($event)" ></app-nuevo-usuario>
      <!-- Crear nuevo usuario component-->
    </div>
  </div>
</div>
