<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-3">
      <app-buscar (buscar)="searchUser($event)" [roles]="availableRoles"></app-buscar>
    </div>
    <div class="col-sm-9">
      <app-listado-usuarios (deleteUser)="deleteUser($event)" [busqueda]="busquedaActiva"[usuarios]="usuarios" ></app-listado-usuarios>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-nuevo-usuario (addUser)="saveOperation($event)" ></app-nuevo-usuario>
    </div>
  </div>
</div>
