
  <!--   public id: number;
  public estudiosComplementariosDTO: Estudio[] = [];
  public prescripcionesDTO: Prescripcion[] = [];
-->
  <div class="card">
      <div class="card-header">
        Ingreso del paciente
      </div>
      <div class="card-body">
        <div class="bd-example">
          <app-paciente [paciente]="paciente"></app-paciente>
          <dl class="row">
            <dt class="col-sm-3">Motivo de consulta</dt>
            <dd class="col-sm-9">{{ingreso.motivoConsulta}}</dd>

            <dt class="col-sm-3">Enfermedad actual</dt>
            <dd class="col-sm-9">{{ingreso.enfermedadActual}}</dd>
            <dt class="col-sm-3">Diagnóstico presuntivo</dt>
            <dd class="col-sm-9">{{ingreso.diagnosticoPresuntivo.nombre}}</dd>
            <dt class="col-sm-3">Diagnóstico sintomático</dt>
            <dd class="col-sm-9">{{ingreso.diagnosticoSintomatico.nombre}}</dd>

            <dt class="col-sm-3">Antecedentes de la enfermedad</dt>
            <dd class="col-sm-9">{{ingreso.antecedentesEnfermedad}}</dd>
            <dt class="col-sm-3">Antecedentes personales</dt>
            <dd class="col-sm-9">{{ingreso.antecedentesPersonales}}</dd>
            <dt class="col-sm-3">Examen físico</dt>
            <dd class="col-sm-9">{{ingreso.examenFisico}}</dd>
          </dl>
        </div>
      </div>
    </div>
