<div class="card">
  <div class="card-header">
   <h4> <strong>Ingresar Paciente</strong></h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label for="searchUser">Ingrese el DNI del paciente a buscar</label>
      <input type="text" class="form-control" [(ngModel)]="idBusqueda" (keydown.enter)="searchPacient()" id="searchUser">
    </div>
  </div>

  <div class="card-footer">
    <button (click)='searchPacient()' type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
      Buscar paciente</button>
  </div>
</div>


<div *ngIf=" pacientSearch && !paciente.isHospitalized" else="#hospitalizado">

  <div class="card">
      <div class="card-header">
          <h4> <strong>Datos personales del paciente</strong></h4>
         </div>

    <div class="card-body">
      <form class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">DNI</label>
          <div class="col-md-9">
            <input [(ngModel)]='paciente.dni' type="text" id="hf-email" name="hf-dni" class="form-control">
            <span class="help-block">Numero de documento del paciente</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Nombres</label>
          <div class="col-md-9">
            <input [(ngModel)]='paciente.nombre' type="email" id="hf-email" name="hf-nombre" class="form-control"
              placeholder="Juan Martín">
            <span class="help-block">Ingrese el nombre del paciente </span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Apellidos/s</label>
          <div class="col-md-9">
            <input [(ngModel)]='paciente.apellido' type="email" id="hf-email" name="hf-apellido" class="form-control"
              placeholder="Peralta Ramos">
            <span class="help-block">Ingrese el apellido del paciente</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Domicilio</label>
          <div class="col-md-9">
            <input [(ngModel)]="paciente.domicilio" type="email" id="hf-email" name="hf-domicilio" class="form-control"
              placeholder="Calle 25 Nº1529 e/62 y 63 La Plata">
            <span class="help-block">Ingrese la direccion del paciente</span>
          </div>
        </div>



        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Telefono</label>
          <div class="col-md-9">
            <input [(ngModel)]='paciente.numeroTelefono' type="email" id="hf-email" name="hf-telefono" class="form-control">
            <span class="help-block">Ingrese el telefono del paciente</span>
          </div>
        </div>


      </form>
    </div>
    <div class="card-footer">
      <button (click)='continueOperation()' type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
        Confirmar datos para ingresar al paciente</button>
    </div>
  </div>
</div>

<div *ngIf=" continue ">
  <div class="card">
    <div class="card-header">
      <h4><strong>Agregar Seguimiento</strong></h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Motivo de consulta</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="ingreso.motivoConsulta" placeholder="Motivo de consulta">
          </div>
          <div class="form-group">
            <label for="name">Enfermedad Actual</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="ingreso.enfermedadActual" placeholder="Enfermedad Actual">
          </div>
          <div class="form-group">
            <label for="name">Antecedentes de la enfermedad</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="ingreso.antecedentesEnfermedad" placeholder="Antecedentes de la enfermedad">
          </div>
          <div class="form-group">
            <label for="name">Antecedentes personales</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="ingreso.antecedentesPersonales" placeholder="Antecedentes Personales">
          </div>
          <div class="form-group">
            <label for="name">Examen fisico</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="ingreso.examenFisico" placeholder="Examen fisico">
          </div>
          <div class="form-group">
            <label for="name">Diagnostico Sintomatico</label>
            <select class="form-control" id="name" [(ngModel)]="ingreso.diagnosticoSintomatico" placeholder="Diagnostico Presuntivo">
              <option *ngFor="let diagnosticoSintomatico of diagnosticos" [ngValue]="diagnosticoSintomatico">{{diagnosticoSintomatico.nombre}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="name">Diagnostico Presuntivo</label>
            <select class="form-control" id="name" [(ngModel)]="ingreso.diagnosticoPresuntivo" placeholder="Diagnostico Presuntivo">
              <option *ngFor="let diagnosticoPresuntivo of diagnosticos" [ngValue]="diagnosticoPresuntivo">{{diagnosticoPresuntivo.nombre}}
              </option>
            </select>
          </div>

          <app-crear (updateEstudios)="updateEstudios($event)"> </app-crear>
          <app-crear-prescripcion (updatePrescripciones)="updatePrescripciones($event)"></app-crear-prescripcion>

          <div class="card-footer">
            <button (click)='saveOperation()' type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
              Confirmar ingreso</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" *ngIf=" errorResponse.length > 0">
  <div class="card-body">
    <dd class="col-sm-9">{{errorResponse}}</dd>
  </div>
</div>

<div class="card" *ngIf=" paciente.isHospitalized" id="hospitalizado">
    <div class="card-body">
      <dd>No se puede volver a solicitar la internacion de un paciente que se encuentra actualmente internado.</dd>
    </div>
  </div>

