<div class="card">
  <div class="card-header">
    <strong>Listado de usuarios</strong>
  </div>
  <div class="card-body">
    <div class="card-body">

        <div class="alert alert-info" *ngIf="busqueda">
            <strong>Advertencia!</strong> El listado solo muestra los usuarios que cumplan los criterios de búsqueda.
            Para ver el listado completo cancele la búsqueda.
          </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre de usuario</th>
          <th>Mail</th>
          <th>Rol</th>
          <th>Estado</th>
          <th>Acciones disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actualUser of usuarios">
          <td>{{ actualUser.username }}</td>
          <td>{{ actualUser.email }}</td>
          <td>{{ actualUser.authorities}}</td>
          <td>
            <span class="badge badge-success">Activo</span>

            <!-- Posibles colores: success, danger, secondary, warning-->
          </td>
          <td>
            <button type="button" class="btn btn-block btn-danger" (click)="removeUser(actualUser)">Eliminar usuario</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
