<div class="card">
  <div class="card-header">
    <strong>Cargar resultado de estudio</strong>
  </div>
  <div class="card-body">
        <div class="form-group">
          <label for="searchUser">Ingrese el número de estudio a buscar</label>
          <input type="text" (keyup.enter)='searchEstudio()' class="form-control" (keydown.enter)="searchEstudio()" [(ngModel)]="idBusqueda" (onchange)="searchEstudio()" id="searchUser">
        </div>
  </div>
  <div class="card-footer">
    <button (click)='searchEstudio()'  type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
      Buscar estudio</button>
  </div>

</div>
<p *ngIf=" estudioSearch.length == 0">
Debe buscar una estudio para poder cargar el resultado
</p>

<p *ngIf=" estudioSearch.includes('Buscando') ">
Cargando datos del estudio
</p>

<div *ngIf=" estudioSearch.includes('Encontrado') ">
  <div class="card">
    <div class="card-header">
      Datos del estudio
    </div>
    <div class="card-body">
      <div class="bd-example">
        <dl class="row">
          <dt class="col-sm-3">Estudio Solicitado</dt>
          <dd class="col-sm-9">{{estudio.estudioSolicitado}}</dd>

          <dt class="col-sm-3">Fecha de indicacion</dt>
          <dd class="col-sm-9">{{estudio.fechaIndicacion | date:'dd/MM/yy hh:mm'}}
          </dd>
        </dl>
      </div>
    </div>
  </div>
<div class="card">
  <div class="card-header">
    <strong>Resultado final del estudio</strong>
  </div>
  <div class="card-body">
        <div class="form-group" >
          <label for="searchUser">Ingrese los datos</label>
          <input [attr.readonly]="resultado.length > 0" type="text" class="form-control" [(ngModel)]="estudio.informeResultado" (onchange)="cargarResultado()" id="searchUser">
        </div>

        <button [disabled]="resultado.length > 0" (click)="cargarResultado()" type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i>Cargar resultado
        </button>
  </div>
</div>
</div>

<div class="card" *ngIf=" errorResponse.length > 0" >
  <div class="card-body">
    <dd class="col-sm-9">{{errorResponse}}</dd>
  </div>
</div>

