<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-header">
          <strong>Buscar usuarios</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div clas="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingrese el nombre a buscar">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Correo electrónico</label>
                <input type="text" class="form-control" id="ccnumber" placeholder="email@ejemplo.com">
              </div>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="ccnumber">Rol del usuario</label>
                <select name="role" [(ngModel)] = "user.authorities" class="form-control">
                  <option [value]="">Seleccione un rol para el nuevo usuario:</option>
                  <option *ngFor="let role of availableRoles"
                  [value]="role">{{role}}</option>
                </select>
              </div>
            </div>
          </div><!--/.row-->
        </div>
      </div>
    </div><!--/.col-->


    <div class="col-sm-9">
      <div class="card">
        <div class="card-header">
          <strong>Listado de usuarios</strong>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre de usuario</th>
                <th>Mail</th>
                <th>Rol</th>
                <th>Estado</th>
                <th>Acciones disponibles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let actualUser of users">
                <td>{{ actualUser.username }}</td>
                <td>{{ actualUser.email }}</td>
                <td>{{ actualUser.authorities}}</td>
                <td>
                  <span class="badge badge-success">Activo</span>
                  <!-- Posibles colores: success, danger, secondary, warning-->
                </td>
                <td>
                  <button type="button" class="btn btn-block btn-danger" (click)="deleteUser(actualUser)">Eliminar usuario</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Crear un nuevo usuario</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="text-input">Nombre de usuario</label>
              <div class="col-md-8">
                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text" #inputUsername
                [(ngModel)]="user.username">
                <span class="help-block">This is a help text</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="email-input">Dirección de correo electrónico</label>
              <div class="col-md-8">
                <input [(ngModel)] = "user.email" type="email" id="email-input" name="email-input" class="form-control" placeholder="Enter Email">
                <span class="help-block">Please enter your email</span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-4 col-form-label" for="select1">Rol asignado al usuario</label>
              <div class="col-md-8">

                <select name="role" [(ngModel)] = "user.authorities" class="form-control">
                  <option [value]="">Seleccione un rol para el nuevo usuario:</option>
                  <option *ngFor="let role of availableRoles"
                  [value]="role">{{role}}</option>
                </select>
              </div>

              <button (click)='saveOperation()'>Crear usuario</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

