<div *ngIf=" patologiaEdit == false ">
<h1>Administración de Patologias</h1>

<app-nueva-patologia (addPatologia)="saveOperation($event)"></app-nueva-patologia>
<app-list-patologias [patologias]="patologias"  (delete)="removePatologia($event)" (edit)="searchPatologia($event)"></app-list-patologias>

<!-- <ng-template #emptyList>
  <h5>No existen patologias cargadas.</h5>
</ng-template>
</div> -->
</div>
<div *ngIf=" patologiaEdit == true ">
<div class="card">
    <div class="card-header">
      <strong>Modificar patología</strong>
    </div>
    <div class="card-body">
      <form action="" method="post" class="form-horizontal">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Nombre</label>
          <div class="col-md-9">
            <input [(ngModel)]='patologia.nombre' type="text" id="hf-email" name="hf-nombre" class="form-control"
              required>
            <span class="help-block">Nombre de la patologia</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="hf-email">Descripcion</label>
          <div class="col-md-9">
            <input [(ngModel)]='patologia.otroDato' type="email" id="hf-email" name="hf-otroDato" class="form-control"
              required>
            <span class="help-block">Informacion de la patologia</span>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button (click)='editPatologia(patologia)' type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
        Guardar cambios</button>
    </div>
  </div>
</div>

<!-- <div class="container">
  <h2>Añadir nueva patología</h2>
  <form>
    <div class="form-group">
      <label for="name">Nombre de la patología</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="patologia.nombre"  name="name" required>
    </div>

    <div class="form-group">
      <label for="name">Descripción</label>
      <input type="text" class="form-control" id="name" [(ngModel)]= "patologia.otroDato" name="description" required>
    </div>
    <button type="submit" class="btn btn-success" (click)='saveOperation()'>Añadir patología</button>

  </form>
</div>
 -->
