      <div *ngIf="ready && ready2 && ready3" style="margin-top: 40px">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>

      <table class="table" style="margin-top: 40px">


        <tr>
          <th></th>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>

        <tr *ngFor="let d of lineChartData">
          <td>{{d.label}}</td>
          <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
        </tr>
      </table>
