      <div class="animated fadeIn">
        <!-- Números superiores-->
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-primary">
              <div class="card-body pb-0">
                <div class="text-value">{{totalInternaciones}}</div>
                <div>Cantidad total de pacientes internados</div>
              </div>
              <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart1" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-info">
              <div class="card-body pb-0">
                <button class="btn btn-transparent p-0 float-right" type="button">
                  <i class="icon-location-pin"></i>
                </button>
                <div class="text-value">{{cantidadPacientes}}</div>
                <div>Pacientes diferentes atendidos</div>
              </div>
              <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart2" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-warning">
              <div class="card-body pb-0">
                <div class="text-value">{{cantidadInternados}}</div>
                <div>Pacientes internados actualmente</div>
              </div>
              <div class="chart-wrapper mt-3" style="height:70px;">
                <canvas class="chart" id="card-chart3" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
          <div class="col-sm-6 col-lg-3">
            <div class="card text-white bg-danger">
              <div class="card-body pb-0">
                <div class="text-value">{{promedioSeguimientos}}</div>
                <div>Seguimientos promedio por paciente</div>
              </div>
              <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
                <canvas class="chart" id="card-chart4" height="70"></canvas>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->

        <div class="row">
            <div class="col-sm-12 col-md-6" >
                <app-piechart></app-piechart>
            </div>

            <div class="col-sm-12 col-md-6" >
                <app-piechart2></app-piechart2>
            </div>

          </div>

          <app-barchart></app-barchart>

          <app-line-chart></app-line-chart>
