<div class="animated fadeIn">
  <div class="col-md-12 mb-4">
      <!-- Nav tabs -->
      <div>
        <button type="button" [routerLink]="['/historias/seguimiento/']" [skipLocationChange]="true" [queryParams]="{idHistoria: idHistoria}" class="btn btn-sm btn-success">Realizar seguimiento</button>
        <button type="button" [routerLink]="['/historias/egreso/']" [skipLocationChange]="true" [queryParams]="{idHistoria: idHistoria}"  class="btn btn-sm btn-danger">Egresar paciente</button>
        <br>
      </div>
      <tabset style="margin-top:10px">
        <tab> <!--Completa -->
          <app-ingreso [idHistoria]="idHistoria"></app-ingreso>
          <div *ngFor="let elemento of historiaResumen">
            <app-seguimiento [idElemento]="elemento.id" *ngIf=" elemento.tipoElemento.includes('Seguimiento')"></app-seguimiento>
            <app-estudio [idEstudio]="elemento.id" *ngIf="elemento.tipoElemento.includes('EstudioComplementario')"></app-estudio>
            <p *ngIf="elemento.tipoElemento.includes('Aplicacion')"> Aplicacion </p>
            <!-- Posibles tipoElemento Ingreso Seguimiento EstudioComplementario Aplicacion -->
          </div>
          <ng-template tabHeading><i class="icon-list"></i> Completa &nbsp;<span class="badge badge-success">10</span></ng-template>
        </tab>


        <tab> <!-- Seguimientos-->
          <ng-template tabHeading><i class="icon-calculator"></i> Seguimientos &nbsp;<span class="badge badge-pill badge-danger">5</span></ng-template>
          <app-seguimiento *ngFor="let seguimiento of historiaOrdenada.seguimientos" [seguimiento]="seguimiento"></app-seguimiento>
        </tab>

        <tab> <!-- ESTUDIOS -->
            <app-estudio *ngFor="let estudioActual of historiaOrdenada.estudios" [estudioActual]="estudioActual"></app-estudio>
          <ng-template tabHeading><i class="icon-pie-chart"></i> Estudios &nbsp;<span class="badge badge-pill badge-success">3</span></ng-template>
        </tab>

        <tab> <!-- INDICACIONES -->
          <ng-template tabHeading><i class="icon-pie-chart"></i> Prescripciones &nbsp;<span class="badge badge-pill badge-danger">2</span></ng-template>
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div><!--/.col-->
  </div>
