<div class="animated fadeIn">
  <div class="col-md-12 mb-4" *ngIf="historiaOrdenada" else="#loading">
      <!-- Nav tabs -->
      <div>
        <button type="button" [routerLink]="['/historias/seguimiento/']" [queryParams]="{idHistoria: idHistoria}" class="btn btn-sm btn-success">Realizar seguimiento</button>
        <button type="button" [routerLink]="['/historias/egreso/']" [queryParams]="{idHistoria: idHistoria}"  class="btn btn-sm btn-danger">Egresar paciente</button>
        <br>
      </div>
      <tabset style="margin-top:10px">
        <tab> <!--Completa -->
          <app-ingreso [idHistoria]="idHistoria"></app-ingreso>
          <div *ngFor="let elemento of historiaResumen">
            <app-seguimiento [idElemento]="elemento.id" *ngIf=" elemento.tipoElemento.includes('Seguimiento')"></app-seguimiento>
            <app-estudio [idEstudio]="elemento.id" *ngIf="elemento.tipoElemento.includes('EstudioComplementario')"></app-estudio>
            <p *ngIf="elemento.tipoElemento.includes('Aplicacion')"> Se aplicó una prescripcion </p>
            <!-- Posibles tipoElemento Ingreso Seguimiento EstudioComplementario Aplicacion -->
          </div>
          <ng-template tabHeading><i class="icon-list"></i> Completa &nbsp;<span class="badge badge-success">10</span></ng-template>
        </tab>


        <tab> <!-- Seguimientos-->
          <ng-template tabHeading><i class="icon-calculator"></i> Seguimientos &nbsp;<span class="badge badge-pill badge-danger">{{historiaOrdenada.seguimientos.length}}</span></ng-template>
          <app-seguimiento *ngFor="let seguimiento of historiaOrdenada.seguimientos" [idElemento]="seguimiento.id"></app-seguimiento>
        </tab>

        <tab> <!-- ESTUDIOS -->
          <app-detalle-estudios-historia [idHistoria]="idHistoria"></app-detalle-estudios-historia>
          <!--
          <app-estudio *ngFor="let estudioActual of historiaOrdenada.estudios" [estudioActual]="estudioActual"></app-estudio>

          -->
          <ng-template tabHeading><i class="icon-pie-chart"></i> Estudios &nbsp;<span class="badge badge-pill badge-success">{{historiaOrdenada.estudios.length}}</span></ng-template>
        </tab>

        <tab> <!-- INDICACIONES -->
          <ng-template tabHeading><i class="icon-pie-chart"></i> Prescripciones &nbsp;<span class="badge badge-pill badge-danger">2</span></ng-template>
          <app-detalle-prescripciones-historia [idHistoria]="idHistoria"></app-detalle-prescripciones-historia>
        </tab>
      </tabset>
    </div><!--/.col-->
  </div>
